@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
}
.container {
  margin: auto;
  width: 100%;
  max-width: 1080px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

:root {
  --font-family-main: 'Poppins', sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
